@import "reset";

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    background-color: #F4F4F4;
}
a:visited {
    color: black;
}
.main-container { /* Общая обертка body*/
    margin: 0 auto;
    max-width: 1120px;
    min-width: 320px;
    @media screen and (max-width: 1100px) {
        max-width: 800px;
    }
}

.underline { // линии в описании фото
    background-color: black;
    width: 40%;
    height: 2px;
    margin: 8px auto;
    border: none;
}

/*Header section*/
.header {
    width: 100%;
    padding: 70px 32px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
    @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr 2fr 1fr;
    }
    @media screen and (max-width: 800px) {
        // нет необходимости в трех колонках:
        grid-template-columns: 1fr 11fr;
        // нет необходимости в больших паддингах
        padding: 40px 0;
    }
    @media screen and (max-width: 600px) {
        // нет необходимости в трех колонках:
        grid-template-columns: 1fr 5fr;
        // нет необходимости в больших паддингах
        padding: 30px 0;
    }

    &__hamburger { // гамбургер иконка
        display: none; //скрыта при больших экранах
        .menu-bar-icon {
            font-size: 23px;
        }

        @media screen and (max-width: 800px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__logo {
        width: 163px;
    }

    &__menu {
        display: flex;
        align-items: center;
        @media screen and (max-width: 800px) {
            display: none;
        }

        .header__list {
            display: flex;
            align-items: center;

            li {
                list-style: none;
            }
        }

        .header__link, .header__link:visited {
            margin: 0 7px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 3px;
            color: black;

            &:hover {
                color: #4c665b
            }
        }
    }

    &__social{
        display: flex;
        @media screen and (max-width: 800px) {
            display: none;
        }
        justify-content: flex-end;
        align-items: center;

        .header__social-icon {
            margin: 0 8px;

            &:hover {
                color: blue; // при наведении - заголубливается
            }
        }
    }
}

/*================Banner section===============*/
.banner {
    display: grid;
    align-items: end;
    padding: 32px;
    grid-template-columns: 5fr 6fr;
    @media screen and (max-width: 600px) { // одноколоночная верстка на мобильных экранах
        grid-template-columns: 1fr;
    }

    &__main {
        display: flex;
        align-items: flex-end;

        img {
            width: 100%; /*изображение в левой части баннера */
        }
    }

    &__content { // правая часть баннера
        padding-left: 30px;
        display: grid;
        grid-template-areas: "title ." "left right";
        @media screen and (max-width: 600px) {
            padding-left: 0;
            grid-template-areas: "title" " left" "right";
            grid-gap: 8px 0;
        }

        img {
            width: 230px;
            @media screen and (max-width: 1100px) {
                width: 170px;
            }
            @media screen and (max-width: 800px) {
                width: 160px;
            }
            @media screen and (max-width: 700px) {
                width: 120px;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }

    &__title {
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin: 30px 0;
        padding: 10px 0;
        text-transform: uppercase;
        grid-area: title;
        font-size: 36px;
        width: 280px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
            width: 200px;
        }
        @media screen and (max-width: 800px) {
            font-size: 18px;
            width: 180px;
        }
        @media screen and (max-width: 700px) {
            font-size: 16px;
            width: 180px;
        }
        @media screen and (max-width: 600px) {
            margin-top: 30px;
            width: 100%;
        }
    }

    &__second { // блок со вторым фото
        grid-area: left;
        width: 100%;
        position: relative; // для абс. позиционирования надписей на фото
    }

    &__insta { // блок с третье фото - инста
        grid-area: right;
        width: 100%;
        position: relative; // для абс. позиционирования надписей на фото
    }

    &__text_bottom {
        position: absolute;
        left: 30px;
        bottom: 25px;
        font-size: 20px;
        @media screen and (max-width: 1100px) {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
        @media screen and (max-width: 700px) {
            font-size: 13px;
        }
        @media screen and (max-width: 600px) {
            font-size: 28px;
            left: 25px;
            bottom: 20px;
        }
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
}

/*================Subscribe section===============*/
.subscribe {
    margin: 32px;
    padding: 10px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c665b;

    &__header {
        font-size: 30px;
        margin: 25px 0;
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        @media screen and (max-width: 600px) {
            font-size: 26px;
        }
    }

    &__form {
        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__input {
        height: 50px;
        box-sizing: border-box;
        padding: 15px;
        @media screen and (max-width: 600px) {
            height: 40px;
        }
    }

    &__mail {
        width: 240px;
        @media screen and (max-width: 600px) {
            width: 220px;
        }
    }

    &__btn {
        width: 170px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: #ebefee;
        border: none;
        cursor: pointer;
        @media screen and (max-width: 600px) {
            font-size: 13px;
            letter-spacing: normal;
            padding: 10px 5px;
            width: 40%;
            margin-top: 20px;
        }
    }
}

/*================Intro section===============*/
.intro {
    display: grid;
    grid-template-columns: 4fr 6fr;
    @media screen and (max-width: 800px) {
        grid-template-columns: 3fr 7fr;
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        padding: 32px;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        padding: 32px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 32px;
        @media screen and (max-width: 600px) {
            font-size: 24px;
        }
        margin: auto 0;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__content {
        font-weight: lighter;
        text-align: justify;
        margin: auto;
        font-size: 16px;
    }
}

/*================Blog section===============*/
.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 24px;
    }

    .card__image {
        width: 100%;
    }

    .card__figure { /*для позиционирования надписи на фото*/
        position: relative;
    }

    .card__wrapper { /*контейнер карточка с надписью на фото*/
        position: absolute;
        bottom: -45px;
        display: flex;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: 800px) {
            bottom: -40px;
        }
        @media screen and (max-width: 600px) {
            bottom: -45px;
        }
    }

    .card__title {
        width: 90%;
        height: 100px;
        margin: auto 15px;
        //background-color: #ecf0ef;
        background-color: rgba(236, 240, 239, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 800px) {
            //width: 40%;
            height: 90px;
            font-size: 20px;
        }
        @media screen and (max-width: 600px) {
            width: 80%;
            height: 120px;
            font-size: 24px;
        }
    }

    .card__body {
        margin-top: 60px;
        font-size: 16px;
        font-weight: lighter;
        letter-spacing: 1px;
        text-align: left;
        @media screen and (max-width: 800px) {
            margin-top: 50px;
            font-size: 14px;
        }
        @media screen and (max-width: 600px) {
            margin-top: 70px;
            font-size: 16px;
        }
    }
}

/*================Instagram section===============*/
#instagram {
    display: none; // подключаем 'display: grid' в js коде после загрузки фото
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    .instagram__item {
        padding: 24px;
        @media screen and (max-width: 600px) {
            padding: 16px;
        }
    }

    .instagram__img {
        width: 100%;
    }

    .instagram__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 24px;
        @media screen and (max-width: 600px) {
            padding: 8px;
            font-size: 22px;
        }
    }
}

/*================Footer===============*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #000;
    padding: 40px;

    &__logo {
        width: 140px;
        margin-bottom: 40px;
    }

    &__copyright {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
}